<!-- Formulaire d'édition -->
<br/>
<form (ngSubmit)="onSubmit()" [formGroup]="editForm">
    <!-- Champs de formulaire -->
   
    <div class="form-group">
        <label for="nomActivite">Nom:</label>
        <input formControlName="nomActivite" id="nomActivite" class="form-control" required>
    </div><br/>
    <div class="form-group">
        <label for="horaire">Horaire:</label>
        <input type="text" formControlName="horaire" id="horaire" class="form-control" required>
    </div><br/>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" formControlName="description" id="description" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="lieux">Lieux:</label>
        <input type="text" formControlName="lieux" id="lieux" class="form-control" required>
    </div>
<br/><br/>

    <!-- Boutons -->
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
    <button type="submit" class="btn btn-primary"style="margin-right: 150px;">Save</button>
    <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button> </div>
</div>
</form>
